<h3>Portfolio</h3>
<div class="wrapper">
    <div class="row">
       <div class="col-sm-6 col-md-4 col-lg-4">
        <figure class="left">
            <div class="card-img-top">
                <img src="./img/Project1.jpg" alt="Project1">
            </div>
            <figcaption>
                <h2>Project 1</h2>
            </figcaption>
        </figure>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
        <figure class="left">
            <div class="card-img-top">
                <img src="./img/Project2.jpg" alt="Project2">
            </div>
            <figcaption>
                <h2>Project 2</h2>
            </figcaption>
        </figure>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
        <figure class="right">
            <div class="card-img-top">
                <img src="./img/Project3.jpg" alt="Project3">
            </div>
            <figcaption>
                <h2>Project 3</h2>
            </figcaption>
        </figure>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
        <figure class="left">
            <div class="card-img-top">
                <img src="./img/Project4.jpg" alt="Project4">
            </div>
            <figcaption>
                <h2>Project 4</h2>
            </figcaption>
        </figure>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
        <figure class="right">
            <div class="card-img-top">
                <img src="./img/Project5.jpg" alt="Project5">
            </div>
            <figcaption>
                <h2>Project 5</h2>
            </figcaption>
        </figure>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
        <figure class="left">
            <div class="card-img-top">
                <img src="./img/Project6.jpg" alt="Project6">
            </div>
            <figcaption>
                <h2>Project 6</h2>
            </figcaption>
        </figure>
        </div>
    </div>
</div>
